* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 500vh;
  background-image: linear-gradient(
    to bottom,
    hotpink,
    rgb(248, 172, 255),
    rgb(255, 245, 156),
    rgb(172, 255, 172),
    aqua,
    rgb(140, 190, 255)
  );
}

nav {
  position: fixed;
  top: 0;
  left: 0;
}
nav button {
  padding: 5px 10px;
  cursor: pointer;
}
